.verify-wrapper {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgb(255, 255, 253);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.verify-wrapper h1 {
    text-align: center;
    margin-bottom: 20px;
}

.verification-table {
    width: 100%;
    border-collapse: collapse;
}

.verification-table th,
.verification-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.verification-table th {
    background-color: rgb(236, 222, 68);
    color: #0e0a0a;
}

.verification-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
